@import "colors-main.scss";

.commento-oauth-buttons-container {
  display: flex;
  justify-content: center;

  .commento-oauth-buttons {
    align-items: center;
    position: absolute;
    z-index: 1;
    display: contents;

    .commento-google-button {
      background: #dd4b39;
      text-transform: uppercase;
      font-size: 13px;
      width: 70px;
    }

    .commento-github-button {
      background: #000000;
      text-transform: uppercase;
      font-size: 13px;
      width: 70px;
    }

    .commento-twitter-button {
      background: #00aced;
      text-transform: uppercase;
      font-size: 13px;
      width: 70px;
    }

    .commento-gitlab-button {
      background: #fc6d26;
      text-transform: uppercase;
      font-size: 13px;
      width: 70px;
    }

    .commento-sso-button {
      background: #000000;
      text-transform: uppercase;
      font-size: 13px;
      width: 200px;
    }

    .commento-authentik-button {
      background: #FD4B2D;
      text-transform: uppercase;
      font-size: 13px;
      width: 200px;
    }
  }
}